.mark {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
}
.mark_item {
  flex: 1;
  text-align: center;
  color: #cececf;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  img {
    width: 160px;
  }
  &:nth-child(odd) {
    background: #242529;
    :global {
      // 使用全局样式中定义的动画
      animation: fadeInDownBig;
      animation-duration: 1s;
    }
  }
  &:nth-child(even) {
    background: #212226;
    :global {
      animation: fadeInUpBig;
      animation-duration: 1s;
    }
  }
  .btn {
    color: #cfcece;
    text-align: center;
    background: #2c2d33;
    font-size: 14px;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
    cursor: pointer;
    i {
      margin-right: 10px;
    }
  }
}
.out {
  &:nth-child(odd) {
    :global {
      animation: fadeOutDownBig;
      animation-duration: 2s;
      animation-fill-mode: forwards;
    }
  }
  &:nth-child(even) {
    :global {
      animation: fadeOutUpBig;
      animation-duration: 2s;
      animation-fill-mode: forwards;
    }
  }
}
.close {
  position: absolute;
  right: 30px;
  top: 30px;
  color: #cfcece;
  cursor: pointer;
  font-size: 16px;
  :global {
    animation: fadeIn;
    animation-duration: 1s;
  }
}