<template>
  <div>
    <h1>{{ title }}</h1>
    <input type="text" v-model="title">
    <Count v-if="title" :title="title" />
  </div>
</template>

<script>
import Count from './components/Count.vue'

export default {
  data () {
    return {
      title: 'app'
    }
  },
  beforeCreate () {
    console.log('app beforeCreate')
  },
  created () {
    console.log('app created')
  },
  beforeMount () {
    console.log('app beforeMount')
  },
  mounted () {
    console.log('app mounted')
  },
  beforeUpdate () {
    console.log('app beforeUpdate')
  },
  updated () {
    console.log('app updated')
  },
  beforeDestroy () {
    console.log('app beforeDestroy')
  },
  destroyed () {
    console.log('app destroyed')
  },
  components: {
    Count
  }
}
</script>

<style>

</style>
