<template>
  <el-container>
    <el-header>
      <div class="logo">LOGO</div>
      <el-menu
        :default-active="$route.path"
        mode="horizontal"
        background-color="#3080fe"
        text-color="#fff"
        active-text-color="#fff"
        class="menu"
        router
      >
        <el-menu-item index="/dashboard">监控页</el-menu-item>
        <el-menu-item index="/list">列表页</el-menu-item>
        <el-menu-item index="/edit">编辑页</el-menu-item>
      </el-menu>
      <div class="info">
        <el-avatar shape="square" size="large" src="https://cube.elemecdn.com/9/c2/f0ee8a3c7c9638a54940382568c9dpng.png"></el-avatar>
        <el-dropdown>
          <span class="el-dropdown-link">
            用户名<i class="el-icon-arrow-down el-icon--right"></i>
          </span>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item>退出登陆</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
    </el-header>
    <el-main>
      <router-view />
    </el-main>
  </el-container>
</template>

<script>
export default {
  created () {
    console.log(this.$route)
  }
}
</script>

<style lang="scss" scoped>
.el-container {
  height: 100%;
  background: #eeeeee;
}
.el-header {
  background: #3080fe;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  position: relative;
}
.logo {
  line-height: 60px;
  padding: 0 20px;
  color: #ffffff;
  font-size: 20px;
}
.menu {
  height: 44px;
  border-bottom: none !important;
  .el-menu-item {
    height: 44px;
    line-height: 44px;
    border: none !important;
    &.is-active {
      border: none !important;
      background: #1861d5 !important;
    }
  }
}
.info {
  padding: 8px 0;
  display: flex;
  justify-content: center;
  position: absolute;
  right: 20px;
  top: 0;
}
.el-dropdown-link {
  color: #ffffff;
  margin-left: 10px;
  line-height: 44px;
  cursor: pointer;
}
</style>
