<template>
  <div>
    <h1>修改个人信息</h1>
    <p>姓名: <input type="text" v-model="user.name"></p>
    <p>年龄: <input type="text" v-model="user.age"></p>
    <p>性别: <input type="text" v-model="user.sex"></p>
    <p>
      <button @click="$router.back()">取消</button>
      <button @click="submit">提交</button>
    </p>
    {{ info }}
    <hr />
    {{ userDetail }}
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
export default {
  data () {
    return {
      user: {
        name: '',
        age: '',
        sex: ''
      }
    }
  },
  methods: {
    submit () {
      // 通过commit调用仓库中 mutations 函数，修改仓库数据
      // this.$store.commit('setName', '诸葛小明')
      // this.$store.commit('setAge', 200)
      // this.$store.commit('setSex', 123)
      this.$store.commit('setInfo', this.user)
      this.$router.back()
    }
  },
  computed: {
    // 使用计算属性去获取store中的数据
    ...mapState({
      info: state => state
    }),
    ...mapGetters(['userDetail'])
    // userDetail () {
    //   return `我叫${this.info.name}, 今年${this.info.age}岁,性别${this.info.sex}`
    // }
    // info () {
    //   return this.$store.state
    // }
  },
  created () {
    this.user = { ...this.info }
  }
}
</script>

<style>

</style>
