<template>
  <div class="create">
    <div class="row">
      <label>平台</label>
      <div class="form-item">
        <input type="radio" name="pt" v-model="form.pt" value="taobao" id="taobao" /><label for="taobao">淘宝</label>
        <input type="radio" name="pt" v-model="form.pt" value="jd" id="jd" /><label for="jd">京东</label>
        <input type="radio" name="pt" v-model="form.pt" value="pdd" id="pdd" /><label for="pdd">拼多多</label>
      </div>
    </div>
    <div class="row">
      <label>任务</label>
      <div class="form-item">
        <input type="text" placeholder="如：拍台灯" v-model="form.title" />
      </div>
    </div>
    <div class="row">
      <label>本金</label>
      <div class="form-item">
        <input type="number" class="money-inp" v-model="form.bj" /> 元
        <input type="checkbox" v-model="form.bjBack" /> 本金已返
      </div>
    </div>
    <div class="row">
      <label>佣金</label>
      <div class="form-item">
        <input type="number" class="money-inp" v-model="form.yj" /> 元
        <input type="checkbox" v-model="form.yjBack" /> 佣金已返
      </div>
    </div>
    <div class="row">
      <label>备注</label>
      <div class="form-item"><textarea v-model="form.remark"></textarea></div>
    </div>
    <button @click="submit">提交</button>
    <Test />
  </div>
</template>

<script>
import Test from '@/components/Test.vue'
import { mapMutations } from 'vuex'
export default {
  data () {
    return {
      form: {
        pt: '',
        title: '',
        bj: 0,
        bjBack: false,
        yj: 0,
        yjBack: false,
        remark: ''
      }
    }
  },
  methods: {
    // 把仓库中 mutations 的方法引入到组件
    ...mapMutations(['addMemo']),
    submit () {
      console.log('提交数据', this.form)
      this.addMemo(this.form)
      this.$router.push('/memo')
    }
  },
  components: {
    Test
  }
}
</script>

<style lang="scss" scoped>
.create {
  width: 100%;
  height: 100%;
  padding: 20px;
  button {
    width: 100%;
    height: 36px;
    background: tomato;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
}
.row {
  display: flex;
  margin-bottom: 20px;
  label {
    width: 60px;
  }
  .form-item {
    flex: 1;
    label {
      margin-right: 10px;
    }
  }
  .money-inp {
    width: 40px;
  }
}
</style>
