<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  * {
    margin: 0;
    padding: 0;
  }
  img {
    width: 100%;
  }
  .red {
    color: red;
  }
  .green {
    color: green;
  }
</style>
<body>
  <div class="app">
    <!-- <img v-bind:src="url" alt=""> -->
    <img :src="url" alt="">
    <button @click="change">随机切换图片</button>
    <hr />
    <button @click="num ++">按钮点击次数{{ num }}</button>
    <!-- <h2 :style="[{
      marginTop: num > 10 ? '100px' : '0',
      marginLeft: `${num}px`,
    }, obj]">v-bind绑定style</h2> -->
    <h2 :class="['title', {
      red: num > 5,
      green: num < 5
    }]">动态绑定class</h2>
  </div>

  <script>
    let vm = new Vue({
      el: '.app',
      data: {
        obj: { color: 'red' },
        num: 0,
        url: 'http://p1.music.126.net/ycC_LHJ6DlUDdhLjY-o4Dw==/109951167997880614.jpg',
        arr: ['http://p1.music.126.net/ycC_LHJ6DlUDdhLjY-o4Dw==/109951167997880614.jpg', 'http://p1.music.126.net/wAuFi3uSYneQwX9EU5xsYw==/109951167997923281.jpg', 'http://p1.music.126.net/XY6P0KLJ6tnTuim4woqKfA==/109951167997901275.jpg', 'http://p1.music.126.net/kmRyadLZjEYVCS_fitPgrw==/109951167997882434.jpg', 'http://p1.music.126.net/qgRRElaH2KoEW2PZwHdc0g==/109951167999442001.jpg', 'http://p1.music.126.net/04AQesq6ToCykuvKVUfP5w==/109951167997891794.jpg', 'http://p1.music.126.net/9WsC2BXynPMuPnfysHy9Rw==/109951167997901432.jpg', 'http://p1.music.126.net/KqRxVLLFcmeQWSIZpXQqvQ==/109951167997920001.jpg']
      },
      methods: {
        change() {
          this.url = this.arr[Math.floor(Math.random() * this.arr.length)]
        }
      }
    })

    console.log(vm)
  </script>
</body>
</html>