<template>
  <div>
    <h2>自定义事件</h2>
    <!-- $event: 事件对象 -->
    <Count :num="num" @sub="num -= $event" @add="add(3, $event)" />
    <button @click="a($event)">+</button>
  </div>
</template>

<script>
import Count from './components/Count.vue'

export default {
  // 组件的中data为什么是一个对象:
  // 创建组件时会调用data函数返回一个新的对象
  // 防止组件复用时组件间的数据互相影响，让每个组件都有自己独立的数据
  data () {
    return {
      num: 0
    }
  },
  methods: {
    a (e) {
      console.log(e)
    },
    add (n, e) {
      console.log(e)
      this.num += n
    }
  },
  components: {
    Count
  }
}
</script>

<style lang="scss">
</style>
