.hot {
  dl {
    display: flex;
    padding: 16px;
    border-bottom: 1px solid #dddddd;
    background: #ffffff;
    dt {
      width: 100px;
    }
    img {
      width: 100%;
      vertical-align: middle;
    }
    dd {
      flex: 1;
      overflow: hidden;
    }
  }
}