.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  display: inline-block;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 64px;
  font-size: 30px;
  line-height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
  svg {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
  }
  b {
    color: #1496db;
    margin-left: 10px;
  }
}

.header {
  background: #fff;
  padding: 0;
  width: 100%;
  display: flex;
  .header_left {
    flex: 1;
    display: flex;
    align-items: center;
  }
  .header_right {
    padding-right: 20px;
    display: flex;
    align-items: center;
  }
}
.content {
  background: #fff;
  margin: 24px 16px;
  padding: 24px;
  min-height: 280px;
  overflow: auto;
}