<template>
  <div class="app">
    <transition name="fade">
      <router-view />
    </transition>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body, .app {
  width: 100%;
  height: 100%;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 1s linear;
}
</style>
