<template>
  <div>
    <nav>
      <router-link to="/">首页</router-link>
      <router-link to="/detail">详情</router-link>
      <router-link to="/about">about</router-link>
    </nav>
    <hr />
    <router-view />
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">
nav {
  display: flex;
  a {
    flex: 1;
    text-align: center;
    &.router-link-exact-active {
      color: orange;
    }
  }
}
</style>
