<template>
  <div class="detail">
    <div class="num">任务编号</div>
    <div class="content">
      <h4>{{ info.title }}</h4>
      <div class="pt">{{ pt[info.pt] }}</div>
      <div class="money">
        <p>支付本金 {{ info.bj }}</p>
        <p>
          {{ info.bjBack ? '已返' : '未返' }}
          <b :class="{ on: bjBack }" @click="bjBack = !bjBack"></b>
        </p>
      </div>
      <div class="money">
        <p>佣金收益 {{ info.yj }}</p>
        <p>
          {{ info.yjBack ? '已返' : '未返' }}
          <b :class="{ on: yjBack }" @click="yjBack = !yjBack"></b>
        </p>
      </div>
      <div>备注：{{ info.remark }}</div>
    </div>
    <button @click="save">保存</button>
    <button @click="remove">删除</button>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
export default {
  data () {
    return {
      pt: {
        taobao: '淘宝',
        jd: '京东',
        pdd: '拼多多'
      },
      bjBack: false,
      yjBack: false
    }
  },
  computed: {
    ...mapState(['list']),
    info () {
      return this.list.find(v => v.time === this.$route.params.id) || {}
    }
  },
  methods: {
    ...mapMutations(['del', 'edit']),
    remove () {
      this.del(this.$route.params.id)
      this.$router.back()
    },
    save () {
      this.edit({
        time: this.$route.params.id,
        bjBack: this.bjBack,
        yjBack: this.yjBack
      })
      this.$router.back()
    }
  },
  created () {
    this.bjBack = this.info.bjBack
    this.yjBack = this.info.yjBack
  }
}
</script>

<style lang="scss" scoped>
.detail {
  height: 100%;
  overflow: auto;
  background: #eeeeee;
  padding: 20px;
}
.num {
  padding-bottom: 20px;
  font-size: 14px;
  color: #666666;
}
.content {
  padding: 20px;
  border-radius: 5px;
  background: #ffffff;
  position: relative;
  h4 {
    padding: 20px 0;
  }
  .pt {
    position: absolute;
    right: 20px;
    top: 20px;
    border: 1px solid tomato;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: tomato;
    font-size: 12px;
    transform: rotate(-30deg);
  }
  .money {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    display: flex;
    p {
      display: flex;
      justify-content: center;
      b {
        width: 40px;
        height: 20px;
        border: 1px solid #ccc;
        border-radius: 20px;
        vertical-align: middle;
        margin-left: 10px;
        box-shadow: 1px 1px 1px 1px #333 inset;
        &::after {
          content: '';
          width: 16px;
          height: 16px;
          border: 1px solid #ccc;
          border-radius: 50%;
          float: left;
          background: #fff;
        }
        &.on {
          background: tomato;
          &::after {
            float: right;
          }
        }
      }
    }
  }
  .remark {
    border-top: 1px solid #ccc;
  }
}
button {
  width: 100%;
  height: 30px;
  background: tomato;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}
</style>
