* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
a {
  text-decoration: none;
}
html, body, #root, .app {
  width: 100%;
  height: 100%;
  background: #f4f4f4;
}
.page {
  width: 100%;
  height: 100%;
}