.keyboard {
  width: 365px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  p {
    width: calc((100% - 20px) / 3);
    height: calc((100% - 20px) / 3);
    background: #8b8b8b;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    line-height: 104px;
    box-shadow: 3px 3px 4px 1px #333333;
    user-select: none;
  }
  .active {
    background: orange;
    box-shadow: none;
  }
  .off {
    background: #8b8b8b;
  }
}