<template>
  <div class="app">
    <h1>nextTick</h1>
    <button @click="add">添加</button>
    <ul ref="ul">
      <li v-for="item in arr" :key="item">{{ item }}</li>
    </ul>
  </div>
</template>

<script>

export default {
  data () {
    return {
      arr: []
    }
  },
  methods: {
    add () {
      this.arr.push(this.arr.length)
      this.$nextTick(() => {
        // 在本次页面更新完成之后立即执行，可以获取到最新的dom元素
        console.log(this.$refs.ul.clientHeight)
      })
    }
  },
  updated () {
    // 组件更新完成以后获取dom元素
    // console.log(this.$refs.ul.clientHeight)
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  line-height: 40px;
  border-bottom: 1px solid;
  background: orange;
  color: #fff;
}
</style>
