<template>
  <div>
    <dl
      v-for="item in list"
      :key="item.filmId"
      @click="goDetail(item.filmId)"
    >
      <dt><img :src="item.poster" alt=""></dt>
      <dd>
        <h2>{{ item.name }}</h2>
        {{ item.filmId }}
      </dd>
    </dl>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      list: [],
      pagenum: 1,
      total: null
    }
  },
  watch: {
    pagenum: {
      handler () {
        this.getList()
      },
      immediate: true
    }
  },
  methods: {
    goDetail (filmId) {
      // 通过函数跳转路由
      // this.$router 路由实例对象

      // query 传参数
      // this.$router.push('/detail?filmId=' + filmId)
      // this.$router.push({
      //   path: '/detail',
      //   query: {
      //     filmId
      //   }
      // })

      // 动态路由跳转
      // this.$router.push(`/detail/${filmId}`)
      this.$router.push({
        name: 'detail',
        params: {
          filmId
        },
        query: {
          a: 100,
          b: 200
        }
      })
    },
    async getList () {
      const res = await axios.get('/hot/movie', {
        params: {
          pagenum: this.pagenum,
          pagesize: 10
        }
      })
      this.list = this.list.concat(res.data.data.films)
      this.total = res.data.data.total
    }
  },
  created () {
    this.$bus.$on('changePage', () => {
      if (this.total === null || this.list.length < this.total) {
        this.pagenum++
      }
    })
  }
}
</script>

<style lang="scss" scoped>
dl {
  display: flex;
  dt {
    width: 100px;
  }
  img {
    width: 100%;
  }
  dd {
    flex: 1;
  }
}
</style>
