<template>
  <div>
    <p><input type="text" placeholder="用户名" v-model="user"></p>
    <p><input type="password" placeholder="密码" v-model="pwd"></p>
    <button @click="submit">登陆</button>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      user: '',
      pwd: ''
    }
  },
  methods: {
    async submit () {
      const res = await axios.get('/api/login', {
        params: {
          user: this.user,
          pwd: this.pwd
        }
      })
      if (res.data.status === 0) {
        localStorage.setItem('token', res.data.data.token)
        const path = this.$route.query.redirect ? decodeURIComponent(this.$route.query.redirect) : '/'
        this.$router.push(path)
      } else {
        alert(res.data.msg)
      }
    }
  },
  created () {
    console.log()
  }
}
</script>

<style lang="scss" scoped>

</style>
