<template>
  <div class="comments">
    <div class="row">服务态度: <p><Star :score="4.1" /></p> 4.1分</div>
    <div class="row">商品评分: <p><Star :score="3.5" /></p> 4.1分</div>
    <div class="line"></div>
    <div class="tab-title">
      <div class="types">
        <span
          v-for="item in navlist"
          :key="item.type"
          :class="{ active: curType === item.type }"
          @click="curType = item.type"
        >{{ item.text }}{{ item.num }}</span>
      </div>
      <div class="switch" :class="{ active: flag }" @click="flag = !flag">
        <svg t="1667793034924" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2504" width="16" height="16"><path d="M820.113403 204.239638c-169.888272-169.918971-446.339558-169.918971-616.22783 0-169.921018 169.890318-169.921018 446.339558 0 616.22783 169.888272 169.921018 446.339558 169.921018 616.22783 0C990.035444 650.579195 990.035444 374.130979 820.113403 204.239638zM769.710456 398.811078 477.206566 710.212364c-1.832741 1.704828-3.759627 2.842745-5.183046 3.664459-1.579985 1.043772-2.685155 1.928932-4.297886 2.592035-3.697205 1.579985-7.614421 2.368954-11.722996 2.368954-3.76065 0-7.458879-0.694825-11.06194-2.085498l-3.476171-2.02103c-1.865487-0.980327-3.886517-2.023076-5.815449-3.729951l0-0.063445c-0.125867-0.094144-0.252757-0.220011-0.3776-0.346901l-0.980327-0.946558L268.257673 546.042327c-5.752004-5.626137-9.005095-13.20986-9.069563-21.268396-0.030699-8.119935 3.034103-15.737426 8.721639-21.519106 11.376095-11.502985 31.318286-11.598152 42.819225-0.252757l144.45195 142.30096 270.475178-287.952224c10.965749-11.661597 31.126928-12.294001 42.757826-1.359974 5.909593 5.593392 9.322319 13.115716 9.543354 21.23565C778.178315 385.285017 775.271102 392.96493 769.710456 398.811078z" p-id="2505" fill="#bfbfbf"></path></svg>
        只看有内容的评价
      </div>
    </div>
    <div class="tab-con">
      <dl v-for="item in newlist" :key="item.rateTime">
        <dt>
          <img :src="item.avatar" alt="">
        </dt>
        <dd>
          <h4>
            {{ item.username }}
            <span>{{ format(item.rateTime) }}</span>
          </h4>
          <div class="star-wrap">
            <p><Star :score="item.score" /></p>
            <span>{{ item.deliveryTime }}</span>
          </div>
          <p class="desc">{{ item.text }}</p>
          <ul v-if="item.recommend.length > 0">
            <li>
              <svg t="1667809069773" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3999" width="14" height="14"><path d="M621.674667 408.021333c16.618667-74.24 28.224-127.936 34.837333-161.194666C673.152 163.093333 629.941333 85.333333 544.298667 85.333333c-77.226667 0-116.010667 38.378667-138.88 115.093334l-0.586667 2.24c-13.728 62.058667-34.72 110.165333-62.506667 144.586666a158.261333 158.261333 0 0 1-119.733333 58.965334l-21.909333 0.469333C148.437333 407.808 106.666667 450.816 106.666667 503.498667V821.333333c0 64.8 52.106667 117.333333 116.394666 117.333334h412.522667c84.736 0 160.373333-53.568 189.12-133.92l85.696-239.584c21.802667-60.96-9.536-128.202667-70.005333-150.186667a115.552 115.552 0 0 0-39.488-6.954667H621.674667z" p-id="4000" fill="#02a0dc"></path></svg>
            </li>
            <li v-for="val in item.recommend" :key="val">{{ val }}</li>
          </ul>
        </dd>
      </dl>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import moment from 'moment'
import Star from './Star.vue'

export default {
  data () {
    return {
      comments: [], // 所有评论
      flag: false, // 是否只展示有内容的评论
      curType: 0 // 当前展示的数据类型
    }
  },
  computed: {
    newlist () {
      let comments = this.comments
      if (this.curType === 1) {
        // 筛选满意的评论
        comments = this.comments.filter(v => v.score > 3)
      } else if (this.curType === 2) {
        // 筛选不满意的评论
        comments = this.comments.filter(v => v.score <= 3)
      }
      if (this.flag) {
        // 只展示有内容的评论
        return comments.filter(item => item.text)
      }
      return comments
    },
    navlist () {
      const navlist = [
        {
          text: '全部',
          type: 0,
          num: this.comments.length
        },
        {
          text: '满意',
          type: 1,
          num: this.comments.filter(v => v.score > 3).length
        },
        {
          text: '不满意',
          type: 2,
          num: this.comments.filter(v => v.score <= 3).length
        }
      ]
      return navlist
    }
  },
  created () {
    axios.get('/mqq/sell/api/ratings').then(res => {
      console.log(res.data.data)
      this.comments = res.data.data
    })
  },
  methods: {
    format (t) {
      return moment(t).format('YYYY-MM-DD hh:mm:ss')
    }
  },
  components: {
    Star
  }
}
</script>

<style lang="scss" scoped>
.comments {
  height: 100%;
  overflow: auto;
}
.tab-title {
  padding: 0 18px;
  border-bottom: 1px solid rgba(7,17,27,.1);
}
.types {
  padding: 18px 0;
  border-bottom: 1px solid rgba(7,17,27,.1);
  span {
    border-radius: 1px;
    color: #666;
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    margin-right: 8px;
    padding: 8px 12px;
    background: rgba(0, 160, 220, .2);
    &.active {
      background: #00a0dc;
      color: #ffffff;
    }
    &:last-of-type {
      background: #ccc;
      &.active {
        background: #666;
        color: #ffffff;
      }
    }
  }
}
.switch {
  padding: 18px 0;
  font-size: 12px;
  color: #666;
  svg {
    vertical-align: middle;
  }
  &.active path {
    fill: #1afa29;
  }
}
.tab-con {
  padding: 0 18px;
}
dl {
  border-bottom: 1px solid rgba(7,17,27,.1);
  display: flex;
  padding: 18px 0;
  dt {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }
  img {
    width: 100%;
  }
  dd {
    flex: 1;
    overflow: hidden;
    h4 {
      display: flex;
      justify-content: space-between;
      color: #333;
      font-size: 10px;
      line-height: 12px;
      margin-bottom: 4px;
      font-weight: normal;
      span {
        color: #999;
      }
    }
    ul {
      overflow: hidden;
      li {
        background: #fff;
        border: 1px solid rgba(7,17,27,.1);
        border-radius: 1px;
        color: #999;
        padding: 0 6px;
        font-size: 10px;
        margin: 0 8px 4px 0;
        float: left;
        list-style-type: none;
        &:first-of-type {
          border: none;
        }
      }
    }
  }
}
.star-wrap {
  display: flex;
  align-items: center;
  p {
    width: 90px;
  }
  span {
    font-size: 12px;
    color: #999;
  }
}
.desc {
  color: #333;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 8px;
}
.line {
  background: #f3f5f7;
  border-bottom: 1px solid rgba(7,17,27,.1);
  border-top: 1px solid rgba(7,17,27,.1);
  height: 16px;
  width: 100%;
}
.row {
  display: flex;
  padding: 10px 0;
  p {
    width: 150px;
    padding-left: 10px;
  }
}
</style>
