<template>
  <div class="keyboard">
    <p
      v-for="item in list"
      :key="item.id"
      :class="{
        active: item.active && flag,
        gray: item.active && !flag
      }"
      @mousedown="mousedown(item)"
      @mouseup="mouseup(item)"
    >{{ item.keyTrigger }}</p>
  </div>
</template>

<script>
export default {
  props: ['list', 'flag'],
  methods: {
    mousedown (item) {
      this.$set(item, 'active', true)
      if (this.flag) {
        this.$emit('change', item)
      }
    },
    mouseup (item) {
      this.$set(item, 'active', false)
    }
  },
  mounted () {
    document.addEventListener('keydown', (e) => {
      const cur = this.list.find(v => v.keyCode === e.keyCode)
      if (cur) {
        this.mousedown(cur)
      }
    })
    document.addEventListener('keyup', (e) => {
      const cur = this.list.find(v => v.keyCode === e.keyCode)
      if (cur) {
        this.mouseup(cur)
      }
    })
  }
}
</script>

<style lang="scss" scoped>
.keyboard {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  p {
    width: 120px;
    height: 120px;
    background: #888;
    border-radius: 6px;
    text-align: center;
    line-height: 120px;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 3px 3px 3px 3px #333;
    user-select: none;
  }
  .active {
    background: orange;
    box-shadow: none;
  }
  .gray {
    background: #666;
    box-shadow: none;
  }
}
</style>
