<template>
  <div id="app">
    <nav>
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link> |
      <router-link to="/list">List</router-link>
    </nav>
    <main>
      <router-view/>
    </main>
  </div>
</template>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #app {
  width: 100%;
  height: 100%;
}
#app {
  display: flex;
  flex-direction: column;
  nav {
    line-height: 40px;
    border-bottom: 1px solid;
    display: flex;
    a {
      flex: 1;
      text-align: center;
    }
  }
  main {
    flex: 1;
    overflow: hidden;
  }
}
</style>
