<template>
  <div>
    <button @click="add">按钮点击次数{{ num }}</button>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'

export default {
  computed: {
    ...mapState('login', ['num'])
    // ...mapState({
    //   num: state => state.login.num
    // })
  },
  methods: {
    ...mapMutations('login', ['add'])
  }
}
</script>

<style>

</style>
