<template>
  <div>
    <h2>组件 .sync 修饰符</h2>
    <MyInput
      :user.sync="form.user"
      :age.sync="form.age"
      :sex="form.sex"
      @update:sex="form.sex = $event"
    />
    {{ form }}
  </div>
</template>

<script>
import MyInput from './components/MyInput.vue'

export default {
  data () {
    return {
      form: {
        user: '小明',
        age: 10,
        sex: '男'
      }
    }
  },
  methods: {
  },
  components: {
    MyInput
  }
}
</script>

<style lang="scss">
</style>
