.city {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
    overflow: hidden;
    background: #ffffff;
  }
}
.title {
  height: 44px;
  line-height: 44px;
  background: #ffffff;
  position: relative;
  h3 {
    text-align: center;
  }
  .close {
    position: absolute;
    top: 0;
    left: 15px;
    height: 100%;
    font-size: 20px;
  }
}
.search {
  background: #f4f4f4;
  height: 50px;
  padding: 10px 15px;
  display: flex;
  .input {
    height: 30px;
    background: #ffffff;
    border-radius: 4px;
    flex: 1;
    display: flex;
    align-items: center;
    input {
      flex: 1;
      height: 100%;
      border: none;
      outline: none;
      background: transparent;
    }
    .s_icon {
      width: 16px;
      height: 16px;
      margin: 0 5px;
    }
  }
  .cancel {
    padding-left: 15px;
    line-height: 30px;
    font-size: 14px;
  }
}
.cities {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.floor {
  width: 100%;
  height: 100%;
  padding-right: 18px;
  overflow: auto;
  .floorItem {
    h4 {
      background: #f4f4f4;
      color: #797d82;
      padding-left: 15px;
      height: 30px;
      line-height: 30px;
      font-size: 14px;
      font-weight: normal;
    }
    ul {
      padding-left: 20px;
      li {
        height: 48px;
        line-height: 48px;
        border-bottom: 1px solid #ededed;
        font-size: 14px;
      }
    }
  }
  .hot {
    h4 {
      background: #ffffff;
      margin-bottom: 10px;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      li {
        background: #f4f4f4;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border-bottom: none;
        width: calc((100% - 30px) / 3);
        margin-bottom: 10px;
      }
    }
  }
}
.floorNav {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 18px;
  text-align: center;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    margin: 1px 0;
  }
}
.tip {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba($color: #000000, $alpha: .7);
  border-radius: 7px;
  width: 50px;
  height: 50px;
  color: #ffffff;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  display: none;
  &.showTip {
    display: block;
  }
}

.searchList {
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #ffffff;
  ul {
    padding-left: 10px;
  }
  li {
    line-height: 44px;
    border-bottom: 1px solid #f4f4f4;
  }
}
.empty {
  text-align: center;
  padding-top: 100px;
  color: #999999;
  img {
    width: 120px;
  }
}