<template>
  <div id="app">
    <h1>vue组件</h1>
    <Test
      v-for="(item, index) in arr"
      :key="item.name"
      :goodsName="item.name"
      :goodsPrice="item.price"
      :goodsCount="item.count"
      :goodsIndex="index"
      @addCount="add"
      @subCount="sub"
    />
  </div>
</template>

<script>
import Test from './components/Test.vue'

export default {
  data () {
    return {
      // 只能在定义数据的组件修改该条数据，不能在子组件中修改父组件传过去的数据
      arr: [
        {
          name: '苹果',
          price: 10,
          count: 1
        },
        {
          name: '香蕉',
          price: 20,
          count: 3
        },
        {
          name: '葡萄',
          price: 30,
          count: 5
        }
      ]
    }
  },
  methods: {
    add (index) {
      console.log('子组件传过来的参数', index)
      this.arr[index].count++
    },
    sub (index) {
      this.arr[index].count--
    }
  },
  components: {
    Test
  }
}
</script>

<style lang="scss">

</style>
