@import '../styles/common.scss';
img {
  width: 100%;
}
.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.logo {
  height: 84px;
  background: #d43c33;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  h1 {
    width: 142px;
  }
  button {
    width: 100px;
    height: 36px;
    color: #d43c33;
    background: #fff;
    border-radius: 20px;
    font-size: 16px;
    border: none;
  }
}
nav {
  height: 40px;
  border-bottom: 1px solid #e4e4e5;
  line-height: 40px;
  display: flex;
  p {
    flex: 1;
    text-align: center;
    color: #333;
    font-size: 15px;
    span {
      display: inline-block;
      height: 100%;
    }
  }
  .active {
    color: #d43c33;
    span {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-top: 2px solid #d43c33;
      }
    }
  }
}
main {
  flex: 1;
  overflow: auto;
}
.content {
  display: none;
}
.show {
  display: block;
}
.title {
  margin: 14px 0;
  border-left: 3px solid #d43c33;
  padding-left: 15px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.list-item {
  width: calc((100% - 20px) / 3);
  margin-bottom: 10px;
  p {
    font-size: 12px;
    height: 33px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    display: -webkit-box;
  }
}
.songs-item {
  border-bottom: 1px solid #ddd;
  height: 56px;
  padding-right: 50px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333;
    font-weight: normal;
    font-size: 17px;
    b {
      color: #888;
      font-weight: normal;
    }
  }
  p {
    font-size: 12px;
    color: #888;
  }
  .icon {
    position: absolute;
    right: 15px;
    top: 13px;
    path {
      fill: #9e8b8b;
    }
  }
}