<template>
  <div class="child3">
    <h2>{{ title }}</h2>
    <input type="text" v-model="title">
  </div>
</template>

<script>
export default {
  data () {
    return {
      title: 'child3标题'
    }
  },
  created () {
    console.log('child3组件创建成功了')
  },
  beforeDestroy () {
    console.log('child4组件要销毁了')
  }
}
</script>

<style lang="scss" scoped>
.child3 {
  background: pink;
}
</style>
