<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  .dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
  }
  .row {
    padding: 10px;
    text-align: center;
  }
  .row b {
    margin-right: 10px;
  }
  .btns {
    text-align: center;
    margin-top: 20px;
  }
  .btns button {
    margin: 0 10px;
    height: 30px;
    width: 80px;
  }
</style>
<body>
  <div class="app">
    <header>
      <button @click="checkedAll = !checkedAll">{{checkedAll ? '全不选' : '全选'}}</button>
      <button @click="reverseCehcked">反选</button>
      <button @click="removeChecked">批量删除</button>
      <button @click="clear">清空购物车</button>
      <button @click="show = true">添加</button>
      <button @click="list.reverse()">倒叙</button>
      <input type="text" placeholder="请输入名称" v-model="searchText"> {{ searchText }}
    </header>
    <table border="1" width="600" style="margin-top: 20px">
      <thead>
        <tr>
          <th>选项</th>
          <th>名称</th>
          <th>产地</th>
          <th>数量</th>
          <th>生产日期</th>
          <th>单价</th>
          <th>小计</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in newlist">
          <td><input type="checkbox" v-model="item.checked" @change="changeItem"></td>
          <td>{{ item.name }}</td>
          <td>{{ item.peace }}</td>
          <td>
            <button @click="sub(index)">-</button>
            {{ item.count }}
            <button @click="item.count ++">+</button>
          </td>
          <td>{{ item.createTime }}</td>
          <td>¥{{ item.price }}</td>
          <td>¥{{ item.price * item.count }}</td>
          <td>
            <button @click="edit(item, index)">编辑</button>
            <button @click="list.splice(index, 1)">删除</button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td><input type="checkbox" v-model="checkedAll">全选</td>
          <td>总价</td>
          <td colspan="6">¥{{ total.toFixed(2) }}</td>
        </tr>
      </tfoot>
    </table>
    <div class="dialog" v-show="show" @click.self="cancel">
      <div class="content">
        <div class="row">
          <b>名称:</b><input type="text" v-model="form.name">
        </div>
        <div class="row">
          <b>产地:</b><input type="text" v-model="form.peace">
        </div>
        <div class="row">
          <b>价格:</b><input type="number" v-model="form.price">
        </div>
        <div class="btns">
          <button @click="submit">确定</button>
          <button @click="cancel">取消</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    let vm = new Vue({
      el: '.app',
      data: {
        form: {
          name: '',
          peace: '',
          price: ''
        },
        show: false,
        searchText: '',
        checkedAll: false,
        editIndex: null, // 要修改的商品下标
        list: [
          {
            checked: false,
            name: '云南白药',
            peace: '云南',
            count: 1,
            price: 5,
            createTime: '2022-1-1'
          },
          {
            checked: false,
            name: '999感冒灵',
            peace: '北京',
            count: 1,
            price: 9,
            createTime: '2022-1-1'
          },
          {
            checked: false,
            name: '感康',
            peace: '河北',
            count: 1,
            price: 20,
            createTime: '2022-1-1'
          }
        ]
      },
      computed: {
        newlist() {
          return this.list.filter(v => v.name.includes(this.searchText))
        },
        total() {
          let num = 10
          this.list.forEach(item => {
            num += item.count * item.price
          })
          return num
        }
      },
      watch: {
        // 全选和全不选
        checkedAll() {
          this.list.forEach(item => {
            item.checked = this.checkedAll
          })
        },
      },
      methods: {
        changeItem() {
          this.checkedAll = this.list.every(v => v.checked)
        },
        // 反选
        reverseCehcked() {
          this.list.forEach(item => {
            item.checked = !item.checked
          })
        },
        // 批量删除
        removeChecked() {
          this.list = this.list.filter(item => !item.checked)
        },
        // 清空
        clear() {
          this.list = []
        },
        // 减
        sub(index) {
          this.list[index].count --
          if (this.list[index].count <= 0) {
            this.list.splice(index, 1)
          }
        },
        cancel() {
          this.show = false
          this.form = {
            name: '',
            peace: '',
            price: ''
          }
          this.editIndex = null
        },
        submit() {
          // 根据创建时间判断是新增还是编辑
          if (this.form.createTime) {
            this.list.splice(this.editIndex, 1, this.form)
          } else {
            this.list.push({
              ...this.form,
              count: 1,
              checked: false,
              createTime: new Date().toLocaleDateString()
            })
          }
          this.cancel()
        },
        edit(row, index) {
          console.log(index, row)
          this.editIndex = index
          this.show = true
          this.form = {...row}
        }
      }
    })
  </script>
</body>
</html>