<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
</style>
<body>
  <div class="app">
    <p>姓: {{ firstName }} <input type="text" v-model="firstName"></p>
    <p>名字: {{ lastName }} <input type="text" v-model="lastName"></p>
    <p>年龄: {{ age }} <input type="text" v-model="age"></p>
    
    <!-- <div>{{ getInfo() }}</div>
    <div>{{ getInfo() }}</div>
    <div>{{ getInfo() }}</div>
    <div>{{ getInfo() }}</div> -->

    <div>{{ info }}</div>
    <div>{{ info }}</div>
    <div>{{ info }}</div>
    <div>{{ info }}</div>
  </div>

  <script>

    let vm = new Vue({
      el: '.app',
      data: {
        lastName: '小刚',
        firstName: '王',
        age: 10
      },
      methods: {
        getInfo() {
          console.log('调用了getInfo')
          return `我姓${this.firstName},名字叫${this.lastName},今年${this.age}岁`
        }
      },
      computed: { // 计算属性：有缓存
        // 当一个变量是由一个或者多个变量生成时可以使用计算属性
        info() {
          console.log('调用了计算属性 info')
          return `我姓${this.firstName},名字叫${this.lastName},今年${this.age}岁`
        }
      }
    })


  </script>
</body>
</html>