<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
  <script src="./data.js"></script>
</head>
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html, body, .app {
    width: 100%;
    height: 100%;
  }
  .app {
    display: flex;
  }
  .left {
    width: 100px;
    background: #ccc;
  }
  .left p {
    line-height: 40px;
    text-align: center;
    border-bottom: 1px dashed #eee;
  }
  .active {
    background: orange;
    color: #fff;
  }
  .right {
    flex: 1;
  }
  ul {
    padding-left: 20px;
  }
  .box {
    background: #999;
    height: 300px;
    padding-top: 20px;
  }
</style>
<body>
  <div class="app">
    <div class="left">
      <p
        v-for="(item, index) in tab"
        :class="{ active: curIndex === index }"
        @click="changeIndex(index)"
      >{{ item.title }} - {{ index }}</p>
    </div>
    <div class="right">
      <h2>{{ tab[curIndex].title }}</h2>
      <ul>
        <li v-for="item in tab[curIndex].list">{{ item }}</li>
      </ul>
      <div class="box">
        <button @click="selectFood">选择食物</button>
        <h3>选中的食物: {{ curFood }}</h3>
      </div>
    </div>
  </div>

  <script>

    let vm = new Vue({
      el: '.app',
      data: {
        tab: JSON.parse(JSON.stringify(tab)),
        curIndex: 0, // 当前高亮的下标
        curFood: ''
      },
      methods: {
        changeIndex(index) {
          this.curIndex = index
          this.curFood = ''
        },
        selectFood() {
          let index = Math.floor(Math.random() * this.tab[this.curIndex].list.length)
          this.curFood = this.tab[this.curIndex].list[index]
        }
      }
    })

  </script>
</body>
</html>