<template>
  <div class="child2">
    <h3>Child1_1</h3>
    <button @click="add">按钮+</button>
  </div>
</template>

<script>
export default {
  methods: {
    add () {
      // 发布订阅模式
      this.$bus.$emit('add', 3)
    }
  }
}
</script>

<style lang="scss">
.child2 {
  background: blue;
}
</style>
