/* pages/category/category.wxss */
.page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1;
  overflow: hidden;
  display: flex;
}
.menu {
  width: 200rpx;
  background: #eeeeee;
}
.menu-item {
  text-align: center;
  line-height: 80rpx;
}
.menu-active {
  background: orange;
}
.content {
  flex: 1;
}
.sub-title {
  text-align: center;
  padding: 40rpx 0;
}
.list {
  display: flex;
  flex-wrap: wrap;
}
.list-item {
  width: calc(100% / 3);
  text-align: center;
  padding: 20rpx;
}
.list-item image {
  width: 100%;
}