<template>
  <div>
    <van-button type="primary" @click="show = true">主要按钮</van-button>
    <van-button type="info">信息按钮</van-button>
    <van-button type="default">默认按钮</van-button>
    <van-button type="warning">警告按钮</van-button>
    <van-button type="danger">危险按钮</van-button>
    <van-popup v-model="show" position="bottom" :style="{ height: '30%' }" />
    <van-cell-group>
      <van-cell title="单元格" value="内容" />
      <van-cell title="单元格" value="内容" label="描述信息" />
      <van-cell title="选择日期区间" :value="date" @click="showDate = true" />
    </van-cell-group>
    <van-calendar v-model="showDate" type="range" @confirm="onConfirm" />
    <van-search v-model="value" placeholder="请输入搜索关键词" />
    <van-skeleton title :row="3" />
    <van-grid :column-num="4">
      <van-grid-item v-for="item in 10" :key="item">
        <van-image src="https://img01.yzcdn.cn/vant/apple-1.jpg" />
      </van-grid-item>
    </van-grid>
  </div>
</template>

<script>
export default {
  data () {
    return {
      show: false,
      showDate: false,
      date: '',
      value: ''
    }
  },
  methods: {
    formatDate (date) {
      return `${date.getMonth() + 1}/${date.getDate()}`
    },
    onConfirm (date) {
      const [start, end] = date
      this.showDate = false
      this.date = `${this.formatDate(start)} - ${this.formatDate(end)}`
    }
  }
}
</script>

<style>
</style>
