<template>
  <div class="about">
    <h1>about page</h1>
    {{ arr }}
    <footer>总数: {{ total }}</footer>
  </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex'

export default {
  computed: {
    ...mapState(['arr']),
    ...mapGetters(['total'])
  },
  methods: {
    ...mapActions(['getlist'])
  },
  created () {
    // 调用仓库中的action方法
    this.getlist()
  }
}
</script>
