<template>
  <div class="home">
    <h1>首页</h1>
    <button @click="setNum(-1)">-</button>
    {{ num }}
    <button @click="setNum(1)">+</button>
    <ul>
      <li v-for="item in arr" :key="item">{{ item }}</li>
    </ul>
    <footer>总数: {{ total }}</footer>
  </div>
</template>

<script>
import { mapState, mapMutations, mapGetters, mapActions } from 'vuex'
export default {
  computed: {
    ...mapState(['num', 'arr']),
    ...mapGetters(['total'])
  },
  methods: {
    ...mapMutations(['setNum']),
    ...mapActions(['getlist'])
  },
  created () {
    // 调用仓库的action
    // this.$store.dispatch('getlist')
    this.getlist(123)
  }
}
</script>
