<template>
  <div class="memo">
    <div class="list" v-if="list.length > 0">
      <div
        class="item"
        v-for="item in list"
        :key="item.time"
        @click="goDetail(item.time)"
      >
        <h3>{{ item.title }}</h3>
        <p>本金{{ item.bj }}, 佣金{{ item.yj }}</p>
        <p>{{ format(item.time) }}</p>
      </div>
    </div>
    <div class="empty" v-else>
      <p>你的备忘录空空如也，快去创建一个吧</p>
      <router-link to="/create">去新建</router-link>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import moment from 'moment'
export default {
  computed: {
    ...mapState(['list'])
  },
  methods: {
    format (time) {
      return moment(time).format('YYYY-MM-DD hh:mm:ss')
    },
    goDetail (id) {
      this.$router.push({
        name: 'detail',
        params: { id }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.memo {
  height: 100%;
  overflow: auto;
}
.empty {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  a {
    background: tomato;
    height: 30px;
    border-radius: 5px;
    line-height: 30px;
    width: 100px;
    text-align: center;
    margin-top: 15px;
    color: #ffffff;
  }
}
.item {
  padding: 20px;
  border-bottom: 1px solid #ccc;
}
</style>
