* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
html, body, #root, .App {
  width: 100%;
  height: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
  }
  footer {
    border-top: 1px solid #999999;
    line-height: 40px;
    text-align: center;
    display: flex;
    a {
      flex: 1;
      color: #333333;
      text-decoration: none;
    }
    .active {
      background: orange;
    }
  }
}
ul {
  padding: 20px;
}
button {
  min-width: 20px;
}