<template>
  <div id="app">
    <nav>
      <router-link to="/">首页</router-link>
      <router-link to="/about">about</router-link>
      <router-link to="/login">登陆</router-link>
    </nav>
    <router-view/>
  </div>
</template>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #app {
  width: 100%;
  height: 100%;
}
nav {
  line-height: 40px;
  border-bottom: 1px solid;
  display: flex;
  a {
    flex: 1;
    text-align: center;
    &.router-link-exact-active {
      background: orange;
      color: #ffffff;
    }
  }
}
</style>
