<view class="title">小程序自定义组件</view>

<info
  title="{{apple.title}}"
  price="{{apple.price}}"
  count="{{apple.count}}"
  bindchangeCount="changeApple"
/>
<info
  title="{{pear.title}}"
  price="{{pear.price}}"
  count="{{pear.count}}"
  bindchangeCount="changePear"
/>
<view>{{ pear.info.a.b }}</view>
