* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button, input {
  outline: none;
  border: none;
  appearance: none;
}
li {
  list-style-type: none;
}
html, body, #root {
  width: 100%;
  min-height: 100%;
  background: linear-gradient(90deg,#ffafbd,#ffc3a0);
}
#root {
  padding: 50px 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app {
  padding: 30px 40px 20px;
  text-align: center;
  width: 440px;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
}
.empty-todos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  gap: 10px;
  -webkit-animation: zoom-132cabf7 .45s ease-in-out;
  animation: zoom-132cabf7 .45s ease-in-out;
}