<template>
  <div>
    {{ num }} <button @click="add">+ {{ count }}</button>
    <p>{{ screen }}</p>
  </div>
</template>

<script>
import screenMixin from '@/mixins/screen'

export default {
  // 把混入中的选项和组件中的选项合并到一起
  mixins: [screenMixin],
  data () {
    return {
      num: 0,
      count: 1
    }
  },
  watch: {
    screen () {
      if (this.screen === 'big') {
        this.count = 10
      } else if (this.screen === 'middle') {
        this.count = 5
      } else {
        this.count = 1
      }
    }
  },
  methods: {
    add () {
      this.num += this.count
    }
  }
}
</script>

<style>

</style>
